:root {
    --color-blue-50: #EFF7FF;
    --color-blue-100: #DBEDFE;
    --color-blue-200: #BFE0FE;
    --color-blue-300: #92CDFE;
    --color-blue-400: #5FB0FB;
    --color-blue-500: #3A90F7;
    --color-blue-600: #2270EC;
    --color-blue-700: #1C5BD9;
    --color-blue-800: #1D4BB0;
    --color-blue-900: #1D428B;
    --color-blue-950: #172954;
    --color-green-50: #EFFEF0;
    --color-green-100: #D9FFDD;
    --color-green-200: #B4FEBD;
    --color-green-300: #7BFA8C;
    --color-green-400: #22EC3D;
    --color-green-500: #10D72B;
    --color-green-600: #07B21E;
    --color-green-700: #098C1C;
    --color-green-800: #0D6E1C;
    --color-green-900: #0D5A1A;
    --color-green-950: #01320A;
    --color-orange-50: #FEF7EE;
    --color-orange-100: #FDECD7;
    --color-orange-200: #F9D5AF;
    --color-orange-300: #F5B77C;
    --color-orange-400: #F08F47;
    --color-orange-500: #EC7022;
    --color-orange-600: #DD5719;
    --color-orange-700: #B84116;
    --color-orange-800: #92351A;
    --color-orange-900: #762E18;
    --color-orange-950: #40150A;
    --color-pink-50: #FFF2FE;
    --color-pink-100: #FFE4FF;
    --color-pink-200: #FFC8FD;
    --color-pink-300: #FF9EF9;
    --color-pink-400: #FF64F3;
    --color-pink-500: #FF2AF6;
    --color-pink-600: #F009EE;
    --color-pink-700: #D704D0;
    --color-pink-800: #A2069A;
    --color-pink-900: #840B7C;
    --color-pink-950: #5A0054;
    --color-purple-50: #F3F1FF;
    --color-purple-100: #EAE5FF;
    --color-purple-200: #D9CEFF;
    --color-purple-300: #BDA7FF;
    --color-purple-400: #9E75FF;
    --color-purple-500: #823EFF;
    --color-purple-600: #7617FF;
    --color-purple-700: #6805FC;
    --color-purple-800: #5904D7;
    --color-purple-900: #4906AC;
    --color-purple-950: #2B0076;
    --color-red-50: #FFF1F1;
    --color-red-100: #FFE0E0;
    --color-red-200: #FFC6C6;
    --color-red-300: #FF9E9E;
    --color-red-400: #FF6666;
    --color-red-500: #FD3636;
    --color-red-600: #EC2222;
    --color-red-700: #C60F0F;
    --color-red-800: #A31111;
    --color-red-900: #871515;
    --color-red-950: #4A0505;
    --color-yellow-50: #FEFDE8;
    --color-yellow-100: #FFFDC2;
    --color-yellow-200: #FFF887;
    --color-yellow-300: #FFED43;
    --color-yellow-400: #FFDC14;
    --color-yellow-500: #EFC203;
    --color-yellow-600: #CE9700;
    --color-yellow-700: #A46B04;
    --color-yellow-800: #88530B;
    --color-yellow-900: #734410;
    --color-yellow-950: #432305;
}