body {
    --color-overtag-Main-50: #FFF0F1;
    --color-overtag-Main-100: #FFE2E5;
    --color-overtag-Main-200: #FFCAD2;
    --color-overtag-Main-300: #FF9FAC;
    --color-overtag-Main-400: #FF6981;
    --color-overtag-Main-500: #FE355A;
    --color-overtag-Main-600: #E01141;
    --color-overtag-Main-700: #C80839;
    --color-overtag-Main-800: #A70A37;
    --color-overtag-Main-900: #8F0C36;
    --color-overtag-Main-950: #500118;
    
    --color-yttrium-Main-50: #EEFBF3;
    --color-yttrium-Main-100: #D5F6DF;
    --color-yttrium-Main-200: #AFEBC5;
    --color-yttrium-Main-300: #7ADBA4;
    --color-yttrium-Main-400: #44C380;
    --color-yttrium-Main-500: #23B16A;
    --color-yttrium-Main-600: #148750;
    --color-yttrium-Main-700: #106C42;
    --color-yttrium-Main-800: #0F5636;
    --color-yttrium-Main-900: #0D472E;
    --color-yttrium-Main-950: #06281A;

}